body
{
	min-height: 100vh;
	margin:0;
}
.main {
	margin-top: 1em;
	margin-bottom: 1em;
	flex:auto;
}
.navbar {
	width: 100%;
}

#__next {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
img.logo {
	height: 4em;
}
.split-image {
	max-height: 32em;
	max-width: 32em;
}

.x1{ height: 1em; }
.x2{ height: 2em; }
.x3{ height: 3em; }
.x4{ height: 4em; }
.text-xs-left     { text-align: left; }
.text-xs-right    { text-align: right; }
.text-xs-center   { text-align: center; }
.text-xs-justify  { text-align: justify; }

@media (min-width: @screen-sm-min) {
	.text-sm-left     { text-align: left; }
	.text-sm-right    { text-align: right; }
	.text-sm-center   { text-align: center; }
	.text-sm-justify  { text-align: justify; }
}

@media (min-width: @screen-md-min) {
	.text-md-left     { text-align: left; }
	.text-md-right    { text-align: right; }
	.text-md-center   { text-align: center; }
	.text-md-justify  { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
	.text-lg-left     { text-align: left; }
	.text-lg-right    { text-align: right; }
	.text-lg-center   { text-align: center; }
	.text-lg-justify  { text-align: justify; }
}

.spinner {
	position: absolute;
	left: calc(50% - 100px);
	top: 50%;
	height:100px;
	width:100px;
	margin:0px auto;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(0,174,239,.15);
	border-right:6px solid rgba(0,174,239,.15);
	border-bottom:6px solid rgba(0,174,239,.15);
	border-top:6px solid rgba(0,174,239,.8);
	border-radius:100%;
}


@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

.op-1 {
	--alpha: 0.1 !important;
}
.op-2 {
	--alpha: 0.2 !important;
}
.op-3 {
	--alpha: 0.3 !important;
}
.op-4 {
	--alpha: 0.4 !important;
}
.op-5 {
	--alpha: 0.5 !important;
}
.op-6 {
	--alpha: 0.6 !important;
}
.op-7 {
	--alpha: 0.7 !important;
}
.op-8 {
	--alpha: 0.8 !important;
}
.op-9 {
	--alpha: 0.9 !important;
}
.op-10 {
	--alpha: 1 !important;
}
.max-h-1 {
	max-height: 4em;
}
.max-h-2 {
	max-height: 8em;
}
.max-h-3 {
	max-height: 12em;
}
.max-h-4 {
	max-height: 16em;
}
.max-h-5 {
	max-height: 20em;
}
.max-h-6 {
	max-height: 24em;
}
.max-h-7 {
	max-height: 28em;
}
.max-h-8 {
	max-height: 32em;
}
.max-h-9 {
	max-height: 36em;
}
.max-h-10 {
	max-height: 40em;
}
.center-text {
	text-align: center;
}
.rnd-1 {
	border-radius: 1em;
}
.rnd-2 {
	border-radius: 2em;
}
.rnd-3 {
	border-radius: 3em;
}
.rnd-4 {
	border-radius: 4em;
}
.rnd-5 {
	border-radius: 5em;
}
.rnd-6 {
	border-radius: 6em;
}
.rnd-7 {
	border-radius: 7em;
}
.rnd-8 {
	border-radius: 8em;
}
.rnd-9 {
	border-radius: 9em;
}
.rnd-10 {
	border-radius: 10em;
}
.black {
	--alpha: 1;
	background-color: rgba(0,0,0,var(--alpha));
}
.white {
	--alpha: 1;
	background-color: rgba(255,255,255,var(--alpha));
}
.alpha {
	background-color: transparent;
}
.dark-grey {
	--alpha: 1;
	background-color: rgba(30,30,30,var(--alpha));
}
.font-white {
	color: blue;
}